@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --whiteColor: #fff;
  --greyColor: #e6e6e6;
  --iconColor: rgb(102, 102, 102);
  --black200: #333333;
  --blackColor: #000;
  --primaryGradient: rgba(21, 179, 152, 0.76), rgb(118, 43, 238);
  --primaryColor: rgba(236, 99, 49, 0.753);
  --bodyFontFamily: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(120deg, var(--primaryGradient));
  font-weight: 500;
  font-family: var(--bodyFontFamily);
  color: var(--blackColor);
  line-height: 1.2;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 90rem;
  position: relative;
  height: 60rem;
  margin: 2rem auto;
  box-shadow: 0 0.5rem 1rem var(--blackColor);
  background-color: rgba(21, 179, 152, 0.76);
}

.grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-left: 5rem;
  margin-top: 5rem;
}

.player-1-username {
  margin-left: 1rem;
}

.player-2-username {
  margin-right: 3rem;
}

.overall {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
  margin-bottom: 15rem;
  background-color: var(--blackColor);

  color: var(--whiteColor);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.animation-fade {
  animation: move 10s linear infinite;
}

.overall > .overall-score {
  background-image: linear-gradient(120deg, var(--primaryGradient));
  background-clip: text;
  color: transparent;
}

.current-score {
  font-size: 5rem;
  font-weight: 600;

  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--blackColor);
}

.dice-img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0.5rem 1rem var(--blackColor);
  left: 47.2%;
  top: 10%;
}

.roll-container {
  position: absolute;
  left: 44%;
  top: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  font-size: 2rem;
  color: var(--greyColor);
  background-color: var(--blackColor);
  border: 1px solid var(--iconColor);
  box-shadow: 0 1rem 1.5rem var(--blackColor);
  cursor: pointer;
}

.btn:is(:first-child) {
  margin-bottom: 2rem;
}

.btn:is(:last-child) {
  padding: 1rem 1rem;
  top: 2rem;
  left: -2.5rem;
  width: 13rem;
  position: absolute;
}

.btn:active {
  box-shadow: 0 0.5rem 1rem var(--blackColor);
}

.active {
  background-color: #33333338;
}

.winner {
  background-color: rgb(118, 43, 238);
}

.fade {
  opacity: 0;
  z-index: -1;
  transition: all 1s;
}

.hidden {
  display: none;
}

.username__container {
  width: 100%;
  height: 100vh;
  background-color: var(--whiteColor);
  position: absolute;
  top: 0;
}

.username__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  margin-bottom: 3rem;
}

.welcome-message h1 > span {
  display: inline-block;
  background-image: linear-gradient(120deg, var(--primaryGradient));
  background-clip: text;
  color: transparent;
}

.username__container .player-2__card {
  margin: 5rem 0;
}

.username__container label {
  font-size: 2rem;
}

.username__container input {
  border: 1px solid var(--iconColor);
  padding: 0.5rem 1rem;
}

.username__container .btn.btn--play-game {
  background-image: linear-gradient(120deg, var(--primaryGradient));
  border: none;
  color: var(--blackColor);
  padding: 1rem 1.5rem;
}

#enter-game {
  position: relative;
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateX(5rem);
  }

  40% {
    transform: translateX(0rem);
  }

  60% {
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(0rem);
  }
}

@media only screen and (max-width: 940px) {
  .wrapper {
    width: 80rem;
  }

  .dice-img {
    left: 46.8%;
  }
}

@media only screen and (max-width: 840px) {
  .wrapper {
    width: 70rem;
  }

  .dice-img {
    left: 46.3%;
  }

  .player-1-username {
    margin-right: 2rem;
  }

  .player-2-username {
    margin-right: 5rem;
  }

  .roll-container {
    left: 42.5%;
  }
}

@media only screen and (max-width: 740px) {
  .wrapper {
    width: 60rem;
  }

  .dice-img {
    width: 4rem;
    height: 4rem;
  }

  .username {
    font-size: 3.5rem;
  }

  .overall {
    width: 8rem;
    height: 8rem;
  }

  .roll-container {
    left: 41%;
    top: 49%;
  }

  .current-score {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 50rem;
  }
}

@media only screen and (max-width: 540px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .roll-container {
    top: 55%;
  }

  .btn--game {
    font-size: 1.8rem;
  }

  .username__container {
    margin-top: -10rem;
  }
}

@media only screen and (max-width: 520px) {
  .username__card label {
    font-size: 2rem;
    display: block;
  }

  .username__card input {
    font-size: 2rem;
  }

  .username__card .btn {
    margin-top: 1rem;
  }

  .player-1__card {
    margin-bottom: -2rem;
  }

  .score-card {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 480px) {
  .username {
    font-size: 3rem;
  }

  .overall {
    width: 7rem;
    height: 7rem;
    font-size: 2.8rem;
  }

  .current-score {
    font-size: 4.5rem;
    margin-top: 4rem;
  }

  .roll-container {
    top: 53%;
  }
}

@media only screen and (max-width: 445px) {
  .username {
    font-size: 2.5rem;
  }

  .dice-img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .overall {
    width: 6.5rem;
    height: 6.5rem;
  }

  .roll-container {
    left: 39%;
    top: 52%;
  }

  .current-score {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 430px) {
  .roll-container {
    left: 39%;
    top: 30%;
  }

  .current-score {
    margin-top: 8rem;
  }

  .username__card {
    margin-top: -18rem;
  }

  .username__container {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 414px) {
  .username__card {
    margin-top: -15rem;
  }

  .username__container {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 410px) {
  .username {
    font-size: 2rem;
  }

  .dice-img {
    width: 3rem;
    height: 3rem;
  }

  .overall {
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
  }

  .current-score {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .welcome-message {
    font-size: 0.8rem;
  }

  .username__card label {
    font-size: 1.8rem;
    display: block;
  }

  .username__card input {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 375px) {
  .roll-container {
    top: 38%;
    left: 37%;
  }
}

@media only screen and (max-width: 360px) {
  .username {
    font-size: 1.9rem;
  }

  .overall {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2rem;
  }

  .dice-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .roll-container {
    top: 38%;
    left: 37%;
  }

  .current-score {
    font-size: 3.5rem;
    margin-top: 8rem;
  }

  .username__card {
    margin-top: -8rem;
  }

  .username__container {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 353px) {
  .username {
    font-size: 1.8rem;
  }

  .overall {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }

  .current-score {
    font-size: 3.5rem;
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 340px) {
  .welcome-message {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 280px) {
  .username__container {
    margin-top: -2rem;
  }
}
